/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../sass/screen.scss */
body {
  margin: 0;
}

/* line 14, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 940px;
  _width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /*@include susy-grid-background;*/
}
/* line 38, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 480px) {
  /* line 14, ../sass/screen.scss */
  .container {
    max-width: 460px;
  }
}
@media (max-width: 767px) {
  /* line 14, ../sass/screen.scss */
  .container {
    max-width: 700px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 14, ../sass/screen.scss */
  .container {
    max-width: 940px;
  }
}
/* line 18, ../sass/screen.scss */
.container .content {
  width: 100%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 0%;
}
/* line 22, ../sass/screen.scss */
.container .content nav {
  width: 22.34043%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 1.06383%;
}
/* line 26, ../sass/screen.scss */
.container .content nav li {
  margin: 0 0 4px;
}
@media (max-width: 480px) {
  /* line 32, ../sass/screen.scss */
  .container .content nav {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    margin-right: 0%;
    margin-bottom: 10px;
  }
  /* line 37, ../sass/screen.scss */
  .container .content nav li {
    margin: 0 0 8px;
  }
}
@media (max-width: 767px) {
  /* line 45, ../sass/screen.scss */
  .container .content nav li {
    margin: 0 0 8px;
  }
}
/* line 51, ../sass/screen.scss */
.container .content article {
  width: 74.46809%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 0%;
}
